function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto if_SquareGame_true0
goto if_SquareGame_false0
label if_SquareGame_true0
push this 0
call Square.moveUp 1
pop temp 0
goto if_SquareGame_end0
label if_SquareGame_false0
label if_SquareGame_end0
push this 1
push constant 2
eq
if-goto if_SquareGame_true1
goto if_SquareGame_false1
label if_SquareGame_true1
push this 0
call Square.moveDown 1
pop temp 0
goto if_SquareGame_end1
label if_SquareGame_false1
label if_SquareGame_end1
push this 1
push constant 3
eq
if-goto if_SquareGame_true2
goto if_SquareGame_false2
label if_SquareGame_true2
push this 0
call Square.moveLeft 1
pop temp 0
goto if_SquareGame_end2
label if_SquareGame_false2
label if_SquareGame_end2
push this 1
push constant 4
eq
if-goto if_SquareGame_true3
goto if_SquareGame_false3
label if_SquareGame_true3
push this 0
call Square.moveRight 1
pop temp 0
goto if_SquareGame_end3
label if_SquareGame_false3
label if_SquareGame_end3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label while_SquareGame0
push local 1
not
if-goto while_SquareGame_true0
goto while_SquareGame_false0
label while_SquareGame_true0
label while_SquareGame1
push local 0
push constant 0
eq
if-goto while_SquareGame_true1
goto while_SquareGame_false1
label while_SquareGame_true1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while_SquareGame1
label while_SquareGame_false1
push local 0
push constant 113
eq
if-goto if_SquareGame_true4
goto if_SquareGame_false4
label if_SquareGame_true4
push constant 1
neg
pop local 1
goto if_SquareGame_end4
label if_SquareGame_false4
label if_SquareGame_end4
push local 0
push constant 122
eq
if-goto if_SquareGame_true5
goto if_SquareGame_false5
label if_SquareGame_true5
push this 0
call Square.decSize 1
pop temp 0
goto if_SquareGame_end5
label if_SquareGame_false5
label if_SquareGame_end5
push local 0
push constant 120
eq
if-goto if_SquareGame_true6
goto if_SquareGame_false6
label if_SquareGame_true6
push this 0
call Square.incSize 1
pop temp 0
goto if_SquareGame_end6
label if_SquareGame_false6
label if_SquareGame_end6
push local 0
push constant 131
eq
if-goto if_SquareGame_true7
goto if_SquareGame_false7
label if_SquareGame_true7
push constant 1
pop this 1
goto if_SquareGame_end7
label if_SquareGame_false7
label if_SquareGame_end7
push local 0
push constant 133
eq
if-goto if_SquareGame_true8
goto if_SquareGame_false8
label if_SquareGame_true8
push constant 2
pop this 1
goto if_SquareGame_end8
label if_SquareGame_false8
label if_SquareGame_end8
push local 0
push constant 130
eq
if-goto if_SquareGame_true9
goto if_SquareGame_false9
label if_SquareGame_true9
push constant 3
pop this 1
goto if_SquareGame_end9
label if_SquareGame_false9
label if_SquareGame_end9
push local 0
push constant 132
eq
if-goto if_SquareGame_true10
goto if_SquareGame_false10
label if_SquareGame_true10
push constant 4
pop this 1
goto if_SquareGame_end10
label if_SquareGame_false10
label if_SquareGame_end10
label while_SquareGame2
push local 0
push constant 0
eq
not
if-goto while_SquareGame_true2
goto while_SquareGame_false2
label while_SquareGame_true2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while_SquareGame2
label while_SquareGame_false2
goto while_SquareGame0
label while_SquareGame_false0
push constant 0
return
