function Square.new 0
call draw 4
return
function Square.dispose 0
call Memory.deAlloc 1
return
function Square.draw 0
call Screen.setColor 1
call Screen.drawRectangle 1
return
function Square.erase 0
call Screen.setColor 1
call Screen.drawRectangle 1
return
function Square.incSize 0
call erase 1
call draw 1
return
function Square.decSize 0
call erase 1
call draw 1
return
function Square.moveUp 0
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
return
function Square.moveDown 0
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
return
function Square.moveLeft 0
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
return
function Square.moveRight 0
call Screen.setColor 1
call Screen.drawRectangle 1
call Screen.setColor 1
call Screen.drawRectangle 1
return
